*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
h2{
    color: rgba(214, 22, 22, 0.808);
}
.about{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 226, 226, 0.288);
    padding: 10px 0;
}

.details{
    display: flex;
    /* flex-direction: column; */
    font-weight: bolder;
    flex-direction: column;
    justify-content: center;
}
.grey{
    color: gray;
    font-size: small;
    font-weight: lighter;
    margin-bottom: 10px;
}
.clear{
    clear: both;
}
.leftpad{
    padding-left: 50px;
}
.education{
    padding: 10px 0px 10px 20px;
    font-weight: bold;
}
.experience{
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
}